{%  extends 'base.html'   %}
{% load static %}
{% block content %}

<p></p> 
<p></p> 
<p></p> 
<div class="lightbox"> 
    <div class="row"> 
        <div class="col-lg-6"> 
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_GylALY0NWQ5RcqMxJAeVWMpEZpJUOxyPgg&usqp=CAU" 
            width="250" height="400"/> 

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC0YmJ5xZOiM8V0vLRLv1kIaFx6n294UAzSg&usqp=CAU"
            width="250" height="400"/>

            <img src="https://cdn.shopify.com/s/files/1/1656/1527/products/300ml_Latte_Mint_1200x.jpg?v=1635176794"
            width="250" height="400"/>
        
            <img src="https://www.shutterstock.com/image-photo/ceramic-cup-isolated-on-white-260nw-1048628651.jpg"/>
            
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrrEENNzUGrOaygLTmNsEUSfJYs00teFJqtw&usqp=CAU"
            width="250" height="400"/>

            <img src="https://www.acmecups.com.au/cdn/shop/products/DP-1028-LatteCup280ml-Dolphin-Cropped_a461296e-6caa-4e04-a6a9-c706f321ad58.jpg?v=1588930870"
            width="250" height="400"/>
            
        </div>
    </div>
</div>


    {% endblock %}